<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GestureAdjust.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AC2B2B91C99390900F298C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AC2B2D21C99390900F298C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AC2B2DD1C99390900F298C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
